BOT_URL=http://frontend:3000
BOT_HEADLESS=true
BOT_USUARIO=automacao
BOT_SENHA=automacao
EVIDENCIAS_ROOT=/app/evidencias
LOGS_ROOT=/app/logs
CHROMIUM_PATH=/usr/bin/chromium
CHROMEDRIVER_PATH=/usr/bin/chromedriver
