.git
.github
.idea
.vscode

**/.venv
**/venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.coverage
**/htmlcov
**/node_modules
**/.next

.env
.env.*
!.env.example

artefatos
data/datapool
data/output
docs
frontend
logs
test
tests

README.md
CHANGELOG.md
