# Ignorar controles de versão
.git
.gitignore
.github

# Ignorar ambientes virtuais Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.idea/

# Ignorar arquivos de configuração local e segredos
.env
*.env

# Ignorar documentação e artefatos de saída
docs/
data/output/
logs/
artefatos/

# Ignorar arquivos do projeto não necessários na imagem
README.md
CHANGELOG.md
